<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saref.rss_reader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.saref.rss_reader.news.NewsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.saref.rss_reader.news.article.ArticleDetailsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.saref.rss_reader.channels.ChannelsActivity"
            android:launchMode="singleTask"
            android:label="@string/channelsActionBarTitle">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity
            android:name="com.saref.rss_reader.channels.add.AddChannelActivity"
            android:launchMode="singleTask"
            />

        <service android:name="com.saref.rss_reader.news.parser.FeedParserService" />
        <service android:name="com.saref.rss_reader.channels.parser.CheckChannelService" />
        <service android:name="com.saref.rss_reader.news.LoadNewsFromDatabaseService" />
        <service android:name="com.saref.rss_reader.channels.LoadChannelsFromDatabaseService" />
        <service android:name="com.saref.rss_reader.database.DeleteChannelService" />

    </application>

</manifest>